button {
  border: none;
}
input {
  border-radius: 5px;
  line-height: 1.5;
}
.flex-row {
  flex-direction: row;
  display: flex;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px 15px;
  display: block;
  width: 67%;
  pointer-events: none;
  z-index: 20;
  height: 20px;
  line-height: 20px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  border: 1px solid #c5c2c2;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-upload-wrapper:before {
  content: "Upload";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 42px;
  background: #4daf7c;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 42px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}
.file-upload-wrapper:hover:before {
  background: #3d8c63;
}
.file-upload-wrapper {
  position: relative;
  width: 350px;
  height: 60px;
}
.file-upload {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}
.file-upload:before {
  content: "Upload";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 40px;
  background: #4daf7c;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}
.file-upload:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 20px;
  line-height: 40px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}
#img {
  padding-top: 65px;
}
.modal-header {
  padding-bottom: 65px;
}
.image-edit-icon {
  background-image: url("edit.png");
  right: 90px;
}
.image-close-icon {
  background-image: url("Close.png");
  right: 65px;
}
.image-edit-icon,
.image-close-icon {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 75px;
}
.show-icon {
  display: inline-block;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 65px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(132, 128, 128, 0.75);
}
.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-content {
  background-color: #272626;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 70%;
  overflow-y: scroll;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.save,
.close {
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
}

.close {
  background-color: white;
  color: #2b49ce;
}
.save {
  background-color: #f8bf1e;
  color: white;
}
.close:hover,
.close:focus {
  background-color: #e2e2e2;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.zoom-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.zoom-text > span {
  color: #faf6f6;
}
.zoom-block > button {
  background-color: gray;
  outline: none;
  border: 1px solid gray;
  border-radius: 50%;
  font-size: 14px;
  padding: 0 6px;
  line-height: 1.3;
  font-weight: 800;
}
.edit-toolbar,
.tool-group {
  display: flex;
}
.edit-toolbar {
  padding-top: 15px;
}
.tool-group:not(:last-child) {
  border-right: 1px solid gray;
}
.tool-group > div {
  padding: 0 34px;
  color: #b6b2b2;
}
.sub-menu {
  display: none;
  color: white;
}
.sliders > form {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-items: center;
}
.p-class,
.sliders > form > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
input[type="range"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border-radius: 5px;
  /*required for proper track sizing in FF*/
  width: 150px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 7px;
  background: #abb7b7;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4b77be;
  margin-top: -6px;
  vertical-align: middle;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:hover {
  cursor: pointer;
}
.reset-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.reset-button > input {
  border: none;
  padding: 5px 10px;
}
.sub-menu p {
  display: flex;
  justify-content: center;
  align-items: center;
}
#frameSize {
  margin: 0 15px;
}
#addText {
  margin-left: 10px;
}
#text-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.stickers-container > img {
  width: 50px;
}
#stickerContainer {
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
}
#myCanvas {
  display: none;
}
#crop-menu {
  width: 100%;
}
.crop-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  margin: 0 auto;
}
.crop-menu > button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f5ffa0;
}
